{% extends 'base.html' %}

{% block title_block %}Login{% endblock %}

{% block body_block %}

<div class="form-modal">
    
    <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">Log In</button>
    </div>

    <div id="login-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter username" required/>
            <input type="password" name="password" placeholder="Enter password" required/>
            <button type="submit" class="btn login">Login</button>
            <!-- <p><a href="javascript:void(0)">Forgotten account</a></p> -->
            <hr/>
        </form>
    </div>

    <div id="signup-form">
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email" required/>
            <input type="text" name="username" placeholder="Choose username" required/>
            <input type="password" name="password" placeholder="Create password" required/>
            <button type="submit" class="btn signup">Create Account</button>
            <p>Clicking <strong>Create Account</strong> means that you agree to our <a href="javascript:void(0)">terms of services</a>.</p>
            <hr/>
        </form>
    </div>

</div>

{% endblock %}
